@model TaskManager.Models.TaskModel;

@{
    ViewData["Title"] = "TaskCreate";


    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>TaskCreate</h1>

<h4>TaskModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatedById" class="control-label"></label>
                <input asp-for="CreatedById" class="form-control" />
                <span asp-validation-for="CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EditableStartDate" /> @Html.DisplayNameFor(model => model.EditableStartDate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEndDate" class="control-label"></label>
                <input asp-for="EditableEndDate" class="form-control" />
                <span asp-validation-for="EditableEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedToId" class="control-label"></label>
                @*<input asp-for="AssignedToId" class="form-control" />*@
                <br />
                @Html.DropDownList("UsersList")
                <span asp-validation-for="AssignedToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishedDate" class="control-label"></label>
                <input asp-for="FinishedDate" class="form-control" />
                <span asp-validation-for="FinishedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAttachments" /> @Html.DisplayNameFor(model => model.HasAttachments)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
