@model TaskManager.Models.DepartmentModel

@{
    ViewData["Title"] = "DepartmentDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Delete Department</h1><hr >

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department Model</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department1)    
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
