
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Index</h1><hr >
<ul>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="JobTitles" asp-action="Index">Job Titles</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="AttachmentType" asp-action="Index">Attachment Types</a>
    </li>
</ul>

